.info-header {
  padding: 25px 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
  background: orange;
  color: white;
  height: 40px;
}

.content {
  min-height: 471px;
  padding: 25px 50px;
}

.footer {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
}
